<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %}
    {% load static %}
    <head>
        {% block title %}
            <title>About - Solomon Ahamdi Oluwasegun</title>
        {% endblock title %}
    </head>

    <body>
        {% block collections_slider %}{% endblock %}
        {% block content %}
        <div class="about-container">
            <div class="about-card">
                <div class="about-me-head">
                    <h1 class="about-me-name">Solomon Ahamdi Oluwasegun</h1>
                    
                </div>
                <h4 style="margin-bottom: 30px; border-bottom: #FF008D solid; padding-bottom: 4px; width: fit-content;">Autobiography </h4>
                
                <div class="about-me-body">
                    <p>
                        Solomon Ahamdi Olusegun Onwuka Nee can be said to reflect a true Nigerian born 9th May 1958 to Pa Clement Igbani Onwuka - of Igbo stock from Ndoro Oboro in Ikwuano local government area of Abia state, Nigeria. His mother, Mrs Florence Ajayi Onwuka - (Nee) Soremekun Agbakin, in Egba land in Abeokuta Ogun State in Nigeria.

                    </p> <br>
                    <p>
                        As the first son, I was sent to Ndoro Oboro in Ikwuano Abia state to equip me with the Igbo language and culture. I did my primary education at Methodist Primary School Ndoro Oboro.

                        
                    </p><br>
                    <p>
                        I witnessed the civil war and all the ups and lows. As a battalion commander, my father was among the last batch of "boys company" rejected by the military headquarters at Umuahia, the then capital of Biafra, after the fall of Enugu. Some of my works reflected the civil war experience.
                    </p><br>
                    <p>
                        I returned to Lagos in 1974 to obtain my school certificate in 1979. During this period of my secondary education, the art in me took shape and flourished. I was the 1978/79 Nigeria's premier college Yaba Lagos chapel prefect, dramatic/literary/ debating societies president

                    </p><br>
                    <p>
                        In 1996, I obtained my higher diploma in business administration at Ramat polytechnic, Maiduguri, Borno state, in northern Nigeria.
                    </p><br>
                    <p>
                        I have handled many appointments at the managerial level of both private and public sectors. I have written over 300 poems, plays, and a few novels (Fiction and non-fiction). Most of them are unpublished due to financial constraints.
                    </p><br>
                    <p>
                        I am married to an Okemesi lady Miss Grace Olayiwole and daughter to Pa Joseph Olayiwola Oyeniran and Ma Rachel Abiola Olayiwola family.
                    </p><br>
                    <p>
                        I am blessed with four children, Ezekiel, Gabriel, Samson and Joseph, who are doing exceptionally well in their various fields of profession.
                    </p><br>
                    <p>
                        "A rose for you" is the collection you are appreciating now. Most of these poems were written and translated before I received Christ as my Lord and saviour.
                    </p><br>
                </div>
            </div>
            
        </div>
        {% endblock content %}
        
    </body>
</html>